<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Erro</title>
</head>
<body>
  <h1>Erro</h1>
  <p><%= mensagem %></p>
  <a href="/produtos">Voltar</a>
</body>
</html>